@mixin titulos($color, $fontsize, $marginbotton){
    color: $color;
    font-size: $fontsize;
    margin-bottom: $marginbotton;

    &~ p{
        margin-bottom: 7px;
    }
}

h1{
    @include titulos($cor4, 1.8em, 15px);
}

h2{
    @include titulos(lighten($cor4, 10), 1.6em, 10px);
    
}

h3{
    @include titulos($cor5, 1.4em, 5px);
}

h4{
    @include titulos(darken($cor5, 5), 1.2em, 5px);
}

h5{
    @include titulos(darken($cor5, 10), 1.1em, 5px);
}

h6{
    @include titulos(darken($cor5, 15), 1em, 5px);
}

form{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    label{
        margin-top: 15px;
        display: block;
        &.obg:after{
            content: ' *';
            color: red;
        }
    }
    .opcoes{
        display: flex;
        flex-wrap: wrap;
        .opcao{
            display: flex;
            align-items: center;
            height: 30px;
            margin: 5px 0;
            margin-right: 15px;
            label,input{
                margin-top: 0;
            }
            label{
                margin-left: 5px;
            }
        }
    }
    input, select, textarea, #editor{
        margin-top: 5px;
        width: 100%;
        border-radius: 5px;
        outline: none;
        border: 1px solid $cor1;
        padding: 5px 10px;
        height: 35px;
        font-size: 1em;
        transition-duration: 0.5s;
        &[type="submit"], &[type="reset"]{
            margin-top: 20px;
            border: none;
            background: $cor4;
            color: white;
            &:hover{
                cursor: pointer;
                background: lighten($cor4, 5);
            }
            &:active{
                background: darken($cor4, 5);
            }
        }
        &[type="checkbox"]{
            height: 20px;
            width: 20px;
        }
        &:focus{
            border: 1px solid $cor4;
            transition-duration: 0.5s;
        }
    }
    textarea{
        height: 120px;
        resize: none;
    }
    .cores{
        border-radius: 5px;
        border: 1px solid $cor1;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        .cor{
            width: 30px;
            height: 30px;
            background: fff;
            margin: 5px;
            border-radius: 5px;
            border: 1px solid rgb(102, 102, 102);
        }
        .selecionado{
            border: 2px solid black;
        }
    }
}

table{
    width: 100%;
    text-align: center;
    tr{
        th{
            font-size: 1.3em;
            background: $cor4;
            color: white;
            font-weight: 500;
        }
        td{
            font-size: 1em;
            font-weight: 400;
        }
        &:nth-child(2n + 1){
            background: #ddd;
        }
        &:nth-child(2n){
            background: #eee;
        }
    }
}

button{
    min-width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: 1.1em;
    margin-top: 20px;
    border: none;
    background: $cor4;
    color: white;
    &:hover{
        cursor: pointer;
        background: lighten($cor4, 5);
    }
    &:active{
        background: darken($cor4, 5);
    }
}